main
    mainFont(400)
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    padding-top rem(80px)
    +above(cut)
        padding-top rem(100px)
section
    padding-bottom 50px
    .header
        border-bottom 8px solid lightGray
        margin 0 auto 32px
        margin 0 auto 2rem
        max-width 730px
        max-width 45.625rem        
        padding 24px
        padding 1.5rem
        position relative
        text-align center
        :before
            border-bottom 20px solid transparent
            border-left 20px solid transparent
            border-right 20px solid transparent            
            border-top 20px solid lightGray
            content ""
            height 0
            left 50%
            margin-left -20px
            position absolute            
            top 100%    
            width 0
        h2
            color lightGray
    .footer
        color lightGray
        text-align center
        a 
            border: 3px solid lightGray
            background-color transparent
            color lightGray
            border-radius .25em
            padding 0 32px
            padding 0 2rem
            color lightGray
            text-align center
            cursor pointer
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale
            -webkit-appearance none
            -moz-appearance none
            appearance none
            line-height 37px
            line-height 2.3125rem
            display inline-block
            -webkit-transition background-color .2s cubic-bezier(.02,.01,.47,1),color .2s cubic-bezier(.02,.01,.47,1)
            transition background-color .2s cubic-bezier(.02,.01,.47,1),color .2s cubic-bezier(.02,.01,.47,1)
            font-weight 700
            text-decoration none
            font-size inherit
.projects
    background lightGray
    color primaryDark !important
    padding-top 50px
    padding-bottom 50px
    .flex-grid
        padding 20px !important
    .grid-invert
        background-color rgba(99,99,99,.1) !important
    .header
        border-bottom 8px solid primaryDark !important
        :before          
            border-top 20px solid primaryDark !important
    .header-title
        color primaryDark !important
    .button 
        border: 3px solid primaryDark !important 
        color primaryDark !important
    .box-item-info
        flex 1 0 300px
        margin 0 0 rem(30px)
        display inline-block
        min-height rem(285px)
        transition all .3s
        position relative
        z-index 1
        +above(cut)
            margin 0 rem(15px) rem(30px)
        .info-header
            center(rem(1000px))
            padding-top 0
            padding-bottom 0
            margin-bottom 0
            .post-title
                color primaryDark !important
        .description
            center(rem(1000px))
    .footer-info
            bottom 0
            position absolute
            ul
                list-style none
                li
                    padding: 10px 0;
                    span
                        padding: 0 10px;
            .project-url            
            .tags
                a
                    color primaryDark
                    text-decoration: none;
                    &:hover
                        color themeColor
                    
.row
    center(100%)
    margin 0px 10px
    
.flex-grid
    display flex
    flex-flow row wrap

.title-category
    center(rem(1000px))
    font-size rem(40px)
    margin-top 0
    text-transform uppercase
    padding 0 rem(15px)

.box-item
    flex 1 0 300px
    margin 0 0 rem(30px)
    display inline-block
    // min-height rem(285px)
    transition all .3s
    position relative
    z-index 1
    +above(cut)
        margin 0 rem(15px) rem(30px)
    &:hover
        z-index 2
        transform scale(1.1)
        img
            -webkit-filter grayscale(100%)
            filter grayscale(100%)
            transform scale(1.05)
        .box-body
            time, p
                color accentDark
            .new-post:after
                background-color #000
            .cover
                a:before
                    opacity 1
    a
        text-decoration none
        display block
    .category
        display block
        height rem(36px)
        line-height rem(36px)
        text-transform uppercase
        font-weight bold
        font-size rem(18px)
        padding 0 rem(15px)
        a
            color accentDark
    .box-body
        img 
            width 100%
            height auto
            margin 0 auto
            transition all .2s ease-in-out
        time
            font-weight 300
            font-size rem(16px)
            color darken(lightGray, 50%)
            pointer-events none
        h2
            margin rem(10px) 0
            font-size rem(24px)
            mainFont(800)
            color accentDark
            line-height rem(30px)
            span
                color 
        p
            margin 0 0 rem(30px)
            color darken(lightGray, 20%)
            font-size rem(17px)
            line-height rem(26px)
        .tags a
            height rem(30px)
            line-height rem(26px)
            padding 0 rem(10px)            
            border-radius 15px
            display inline-block
            margin 0 rem(10px) rem(10px) 0
            z-index 50
            &:hover
                color primaryDark
                background accentDark
                border-color accentDark
        .new-post:after
            content 'Novo Post'
            text-transform uppercase
            display inline-block
            background themeColor
            color #fff
            font-size rem(13px)
            font-weight 700
            line-height rem(24px)
            padding 0 rem(8px)
            position absolute
            margin-top rem(-35px)
        .cover-project
            a:before
                background-image url(../../assets/img/icons/imac.svg) !important
        .cover
            position relative
            a:before
                opacity 0
                background-color rgba(0, 0, 0, 0.7)
                background-image url(../../assets/img/icons/read.svg)
                background-size 48px
                background-repeat no-repeat
                background-position center center
                content ''
                display block
                width rem(80px)
                height rem(80px)
                border-radius 40px
                position absolute
                top 50%
                left 50%
                margin-top rem(-40px)
                margin-left rem(-40px)
                border 2px solid #fff
                z-index 1000
            .preload
                background url(../../assets/img/icons/preloader.svg) center center no-repeat

    .box-info
        padding rem(15px)
