.section-skill
    background themeColor
    padding-top: 50px;
    .skill
        padding 0 50px
        ul
            list-style none
            li            
                color lightGray
                display inline-block
                margin-bottom .6rem
                padding 2.6rem
                text-align center
                opacity .3
                transition transform .12s cubic-bezier(.02,.01,.47,1),opacity .12s cubic-bezier(.02,.01,.47,1),-webkit-transform .12s cubic-bezier(.02,.01,.47,1)
                img
                    max-width 50px
                    width 50px
                &:hover
                    opacity 1
                    -webkit-transform:scale(1.5) rotate(8deg);transform:scale(1.5) rotate(8deg)