themes = {
    post-frontend: #ffff00,
    post-backend: #B31917,
    post-dev: #1565c0
    // post-dev: #76ff03
}

for theme, category-color in themes
    .{theme}
        h1,h2,h3,h4, strong
            color category-color
        .post-title, .title-category, .category
            color category-color
        .post-content 
            a            
                &:hover
                    color category-color
                    border-bottom: 2px dashed category-color
            blockquote
                border-left rem(5px) solid category-color
        .tags a
            color category-color
            border 1px solid category-color
